@import 'reset.scss';
@import 'mixins.scss';
*{
    box-sizing: border-box;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 100vh;
    width: 100vw;
}
nav{
    position: relative;
    // display: flex;
    height: 100vh;
    width: 25vw;
    // border-right: 1px solid black;
    box-shadow: 7px 0px 16px 2px rgba(0,0,0,0.60);
    float: left;
    background-color: #131A26;
    // background-color: #181F33;
    // overflow: hidden;
    
}
.guziki{
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 30vw;
    
    box-shadow: 0px 0px 167px 38px rgba(0,0,0,0.38);
    

}
button{
    transition: all 1s;
}
.container{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 75vw;
    float: left;
    background-color: #181F33;
    
}
.task{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 50vw;
    box-shadow: 20px 20px 33px 2px #7d6bbf63;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 9px 41px -1px #739de67a;
    background-color: #131A26;
}
h1{

    font-size: 1.5rem;
    height: 5vh;
    font-weight: bold;
    line-height: 5vh;
    text-align: center;
    border: 1px solid black;
    color: #F20574;
    box-shadow: 0px 0px 167px 38px rgba(0,0,0,0.30);
    @include medium {
        font-size: 1.8rem;
    }
    @include large {
        font-size: 2rem;
    }
    overflow: hidden;
}
h2{
    
    width: 60%;
    padding-left: 20px;
    line-height: 6vh;
    // color: #7D6BBF;
    // color: #F20574;
    
    float: left;
    font-weight: bold;
    font-size: 1.2rem;
}
p{
    color: #739DE6;
}

.date{
    width: 30%;
    height: 6vh;
    text-align: right;
    padding: 0px 15px 0px 15px;
    line-height: 6vh;
    font-weight: bold;
    display: none;
    float: right;
    color:white;
    @include small{
        display: block;
    }
    @include medium{
        
        font-size: 1rem;
        width: 30%;
    }
    @include large{
        font-size: 1.2rem;
        width: 30%;
    }

}
.head-task{
    height: 6vh;
    margin: 19px;
    width: 100%;
    //  border-radius: 20px;
     background-color: red;
    // box-shadow: 20px 20px 33px 2px #6c5bd92d;
    color: white;
    background-color: #739DE6;
    box-shadow: 20px 20px 33px 2px #7d6bbf25;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
    
}
.tekst{
    padding: 30px;
    height: 74%;
    padding: 0 25px 0 25px;
    width: 48vw;  
    overflow: auto;
    // background-color: blue;
    
}
h3{
    width: 80%;
    text-align: center;
    background-color: rgb(252, 17, 127);
    // margin: 0 auto;
    line-height: 4vh;
    font-weight: bold;
    float: left;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.753);
    border-radius: 15px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    // transition:all 1s ease;
    
}
.btn-topic{
    width: 100%;
    height: 4vh;
    display: flex;
    // margin: 0 auto;
    justify-content: center;
    margin-top: 20px;
    transition:all 1s;
}
.btn--add , .btn-del{
    height: 35px;
    width: 35px;
    font-size: 1.7rem;
    border-radius: 50%;
    border: 0px;
}
.btn--add{
    margin-top: 20px;
    margin-left: 50%;
    transform: translate(-50%,0);
    display: none;
    // background-color: #05fa09;
}
.btn-del{
    float: left;
    margin-left:5px;
}
.input-topic{
    width: 50%;                  
    // margin-left: 10px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ;
    height: 6vh;
  
    background-color: transparent;
    color:rgb(255, 255, 255);
    border: 0px;
    font-size: 1.1rem;
    float: left;
    &::placeholder{
        color: rgba(255, 255, 255, 0.603);
        font-size: 1.1rem;
        text-decoration: underline;
        @include medium {
            font-size: 1.1rem;
        }
        @include large {
            font-size:1.3rem;
        }
    }
    // @include small{
        
    // }
    @include small{
        width: 40%;
    }
    @include medium {
            width: 50%;
    }
    @include large {
        min-width: 10%;
    }
}
h6{
    height: 6vh;
    font-size: 1.1rem;
    // display: block;
    line-height: 6vh;
    padding-left: 20px;
    font-weight: bold;
    float: left;
    width: 40%;
    @include small{
        width: 30%;

    }
    @include medium {
        width: 18%;
        font-size: 1.2rem;
        // margin-right: 3vw;
    }
    @include large {
        // margin-right: 0.2vw;
        width: 14%;
        font-size: 1.3rem;
    }
}
.textarea-text{
    // display: inline-block;
    height: 74%;
    padding: 0 25px 0 25px;
    width: 48vw;   
    resize: none;
    margin: 0 auto;
    color:white;
    background-color: transparent;
    border: 0px;
    font-size: 1.3rem;
    font-weight: bold;
    
    overflow: hidden;
    &::placeholder{
        // font-size: 5rem;
        font-weight: bold;
        text-align: center;
        line-height: 50vh;
        // padding-top: 50%;
        color:  #181F33;
        color: #739de663;
        font-size: 2rem;
        @include small {
            font-size: 2rem;
        }
        @include medium {
            font-size: 3rem;
        }
        @include large {
            top:50%;
            font-size: 4.4rem;
        }
    }
}



.fall{
    // transition:all 1s ease;
    transform: translate(-8rem);
    opacity: 0;
}
h4{
    font-size: 3rem;
    font-weight: bold;
    // Oba kolory są dobre
    text-align: center;
    color: #739de6ab;
    color: #F20574;
    transition: all 1s;
    @include small{
        font-size: 2.8rem;
    }
    @include medium {
        font-size: 3.6rem;
    }
    @include large {
        font-size: 5rem;
    }
}
.save{
    width: 80px;
    height: 30px;
    background-color: transparent;
    color: #739de6;
    margin: 0 auto;
}
.start{
    margin: 30px;
 
    background-color: transparent;
    border: 2px solid #F20574;
    color: #F20574;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    @include medium {
        line-height: 35px;
        width: 40px;
        height: 40px;
    }
    @include large {
        // font-size: 5rem;
        width: 50px;
        height: 50px;
    }
    
}
// .fallh4{

// }
